

@model TryChat.Data.Repositories.RatingsSTAFF.Rating

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<div class="row">
    <div class="col-md-4">
        <form asp-action="SetRating">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RatingValue">
                    <input asp-for="RatingValue" type="radio" value="1" />
                    <input asp-for="RatingValue" type="radio" value="2" />
                    <input asp-for="RatingValue" type="radio" value="3" />
                    <input asp-for="RatingValue" type="radio" value="4" />
                    <input asp-for="RatingValue" type="radio" value="5" />

                </label>


            </div>
            <div class="form-group">
                <label asp-for="RatingText" class="control-label"></label>
                <textarea asp-for="RatingText" class="rank" maxlength="150" placeholder="Why not leave a message here? ;)" style="margin-top:150px; border: 4px solid yellow;
        border-radius: 4px; width:60%;height:175px;color:yellow;font:bold;font-size:30px; background-color:transparent;"></textarea>

                <span asp-validation-for="RatingText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="FromId" value="@UserManager.GetUserId(User)" hidden />


            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ToId" value="@ViewData["AwardedId"]" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
